/* -------------------------------------
 * Bootstrap sass variable
 * (see http://getbootstrap.com/customize/#less-variables)
 * ------------------------------------- */


// Semantic color scheme
// => http://getbootstrap.com/customize/#colors
$gray-base:       $gray;
$brand-primary:   $blue;
$brand-success:   $green;
$brand-info:      $yellow;
$brand-danger:    $red;
$brand-warning:   $orange;

// Buttons / inputs radius
$border-radius-base:  2px;
$border-radius-large: 2px;
$border-radius-small: 2px;


// Heights
$navbar-height: 70px;
$footer-height: 220px;

/* -------------------------------------
 * Other
 * ------------------------------------- */

// $box-shadow:  1px 3px 4px 0px #f2edfc;
$box-shadow:  0px 0px 0px 0px #f2edfc;

$border_radius: 8px;
