<div class="vote">
	<% avatar_url = vote.user.facebook_picture_url || "http://placehold.it/30x30" %>
	<%= image_tag avatar_url, class: "avatar-blue"  %>
	 	
	<div class="vote-name">
	<h3><%= vote.user.firstname %></h3>
	<p><%= vote.created_at.strftime("Publié le %m/%d/%Y")%></p>
	</div>
	<div class="vote-body">
		<p><%= vote.description %></p>
	</div>
</div>



